<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="bower_components/ink/css/ink.css" rel="stylesheet" />
  <link href="common.min.css" rel="stylesheet" />
</head>
<body>

  <table class="body">
    <tr>
      <td class="center" align="center" valign="top">
        <center>

          <table class="container">
            <tr>
              <td>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="pad-b-0">

                            <h1><img class="banner" src="img/1-semantics.png" alt="{{page.title}}" /></h1>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last pad-t-0">

                      <table class="twelve columns">
                        <tr>
                          <td class="panel intro-wrap">

                            <br />
                            <p class="intro">{{page.intro}}</p>
                            <br />

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="">

                            <br />
                            <h2>Review tutorials &amp; videos</h2>
                            <p>Spark some memory patterns by re-watching the videos or reading the tutorials.</p>
                            <ol class="push-0">
                              {% for item in page.reviews %}
                                <li><a href="http://learn-the-web.algonquindesign.ca/topics/{{item[0]}}/">{{item[1]}}</a></li>
                              {% endfor %}
                            </ol>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="panel">

                            <span class="full-site"><a href="{{page.all.url}}">See it all together: <b>{{page.all.name}}</b> <img class="go" src="img/go.png" width="18" height="18" alt="" /></a></span>
                            <br />

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="">

                            <br />
                            <hr />
                            <br />
                            <h2>Test your knowledge</h2>
                            <p>Stretch that grey-matter and fire those synapses with a quick game or quiz.</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper">

                      <table class="four columns">
                        <tr>
                          <td class="center">

                            <center>
                              <a href="{{page.test.url}}">
                                <img class="center game" src="img/victory.png" width="120" height="120" alt="">
                              </a>
                            </center>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>

                    <td class="wrapper last">

                      <table class="eight columns">
                        <tr>
                          <td class="">

                            <h3><a href="{{page.test.url}}">{{page.test.name}}</a></h3>
                            <p>{{page.test.desc}}</p>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="{{page.test.url}}">Play {{page.test.name}}</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="">

                            <br />
                            <hr />
                            <br />
                            <h2>Write some code</h2>
                            <p>Start flexing those fingers and pounding some keys!</p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper">

                      <table class="four columns">
                        <tr>
                          <td class="center">

                            <center>
                              <a href="#">
                                <img class="center game" src="img/code.png" width="120" height="120" alt="">
                              </a>
                            </center>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>

                    <td class="wrapper last">

                      <table class="eight columns">
                        <tr>
                          <td class="">

                            <h3><a href="{{page.code.url}}">{{page.code.name}}</a></h3>
                            <p>{{page.code.desc}}</p>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="{{page.code.url}}">Read the requirements</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="">

                            <br />
                            <hr />
                            <br />
                            <h2>Tools to help</h2>
                            <p>Infuse your brain with these tools, checklists &amp; cheat sheets.</p>
                            <ul>
                              {% for item in page.tools %}
                                <li><a href="http://learn-the-web.algonquindesign.ca/topics/{{item[0]}}/">{{item[1]}}</a></li>
                              {% endfor %}
                            </ul>
                            <br />

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <table class="row">
                  <tr>
                    <td class="wrapper last pad-t-0">

                      <table class="twelve columns">
                        <tr>
                          <td class="panel intro-wrap">

                            <p class="push-0">I’m happy to answer any questions you have on GitHub—just tag me in an issue with <a href="https://github.com/thomasjbradley/">@thomasjbradley</a>. <em>I’ll definitely respond, but since it’s the summer it may be a little slower than usual.</em></p>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>


              </td>
            </tr>
          </table>

        </center>
      </td>
    </tr>
  </table>

</body>
</html>
